@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #ffffff;
  height: 100vh;
}

main {
  max-width: 900px;
  margin: auto;
  height: 100vh;
}

header {
  box-shadow: 30px 0px 40px rgba(0,0,0,0.2),
  -30px 0px 40px rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: block;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

button {
  font: inherit;
  font-size: 0.7rem;
  outline: none;
}

#start-audio {
  padding: 0.3rem 1rem;
  border: 0.1rem #f7941d solid;
  margin: 0;
  border-radius: 0.4rem;
  color: #ffffff;
  background-color: #f7941d;
  visibility: visible;
  opacity: 1;
  transition: background-color 500ms ease, visibility 3000ms ease-out, opacity 3000ms ease-out;
  height: auto;
  z-index: 3;
}

#start-audio:active {
  position: relative;
  top: 3px;
}

#start-audio:hover {
  background-color: #f9b35f;
  color: black;
}

/* GAMES CONTAINER: RESPONSIVE STYLING STUFF */
/* -------------------------------------------- */

/* #online-hx-player {
  display: flex;
} */

#hx-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75%;
  padding: 1rem 0;
  max-width: 100vw;
}

#lockedCanvas {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 3000ms ease-out, opacity 3000ms ease-out, background-color 500ms ease;
}

#lockedCanvas:hover {
  background-color: rgba(227, 183, 129, 0.35);
}

#hx-canvas {
  pointer-events: none;
  z-index: 2;
}

.flex-item {
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  position: absolute;
  object-fit: scale-down;
  height: inherit;
  width: inherit;
}

#hexadrum {
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 0;
}

/* -------------------------------------------- */

.hx-play {
  cursor: pointer;
}