/* site's colours: #B6FF40 #73B30D #ADFF27 #8D00B3 #D226FF */
html {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  background-color: #ADFF27;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #73B30D;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
  color: #8D00B3;
  margin: 0;
  padding: 20px 0;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}